.panel-heading {
  background-color: #000 !important
}

.panel-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size:120%;
  letter-spacing: 1px;
}

#notice {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}


.black-container {
  background-color: #000;
  padding: 20px;
}

.grid-row {
  // background-color: #FF0000;
  margin-bottom: 10px;
  height: 300px
}

.grid-cell {
  background-color: #FFF; //green
  height: 100%
}

.grid-map {
  background-color: #6699FF; //blue
  height: 80%;
  width: 100%
}

