<%= simple_form_for(@group, :html => { :class => 'form-vertical' }) do |f| %>
  <div class="form-vertical">
    <%= f.input :name, required: true, autofocus: true %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "Submit", :class => "btn btn-success" %>
  </div>
  <br>
<% end %>