.row.page-header
  %h1 Groups
  

/Groups this user adminstrates
.row.group-header
  %h2 Administered Groups

  - if current_user.group_admin.size != 0
    -current_user.group_admin.each do |group|
      .group-row
        %h4 
          You are an administrator of 
          = link_to group.name, group_path(group)
          =link_to "See Trips", trips_path(group: group), class: "button btn btn-primary"
  -else
    .row
      %p You do not currently own any groups. To adminster a group and invite users, create one first.

  
  =link_to "Create a new Group", new_group_path, class: "button btn btn-primary"
%hr

/Groups this user is a member of
.row.group-header
  %h2 Your Groups

  - if current_user.group_member.size != 0
    -current_user.group_member.each do |group|
      .row.group-row 
        .row
          .col-sm-8
            %h4 
              You are an member of 
              =group.name
          .col-sm-4
            =link_to "Leave this Group", remove_path(group), class: "button btn btn-primary"

  - else
    %p You are not a member of any groups.
%hr


/Groups this user has been invited to
- if current_user.group_invite.size != 0
  .row.group-header
    %h2 Group Invites

    -current_user.group_invite.each do |group|
      .row.group-row
        .col-sm-8
          %h5 
            You have been invited to join  
            =group.name
        .col-sm-2
          =link_to "Accept", accept_path(referring_group: group), class: "button btn btn-primary"
        .col.sm-2
          =link_to "Decline", decline_path(referring_group: group), class: "button btn btn-primary"

/ =render "group_table", locals: {group: @groups[0]}
