<div class="third widget line">
    <div class="chart-legend">
        <h3>Score Comparison</h3>
        <p>
        	<span>This Trip</span> &mdash; <strong>Average Trip for </strong>
        </p>
    </div>
    <div class="canvas-container">
        <canvas id="canvas" width="1100" height="500"></canvas>
    </div>
</div>