<% provide(:title, 'All Trips') %>

<%= include_gon %>

<button id="trips_range">Trips With Range</button>

<div id="trips_range_text">
</div>

<button id="trips_data">Trip Data</button>

<div id="trips_data_text">
</div>

<button id="users_group">Users Group</button>

<div id="users_group_text">
</div>
