<h1><%= @group %> has requested you join them on KnowMyDrive.com</h1>

<p>
Hello!!
</p>

<p>
  <%= @group %> has invited you to join their group on knowmydrive.com! If you join this group the admin will be able to view your trips. To join this group login to http://knowmydrive.com and accept the group invitation found in the notification center on the upper right hand corner. If you do not want to join this group you can decline the invitataion or ignore it.
</p>

<p>
Thanks!!
</p>
<p>
-The KnowMyDrive Team
</p>
