//All css for the general pages

body {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: 'Open Sans', sans-serif;
  font-style:normal;
  font-weight: 100;
  letter-spacing: 1px;
}

h1, {
	font-size:450% !important;
}

h2 {
	font-size:200%;
}

a.black_link {
    color: #000;
    text-decoration: none;
}

a.black_link:hover 
{
     color:#000; 
     text-decoration:none; 
     cursor:pointer;  
}
a.no_hover:hover, a.no_hover:focus 
{
     color:#FFF; 
     text-decoration:none; 
     cursor:pointer;  
}

p, tr {
  font-family: 'Open Sans', sans-serif;
  font-style:normal;
  font-weight: 100;
  font-size:120%;
}

.navbar-custom {
    background-color:#000000;
    color:#ffffff;
    border-radius:0;
}

.navbar-nav > li > a {
    color:#fff;
    background-color:black;
}


.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}

#title {
	color:#FFFFFF;
	font-size:200%;
}


/***************************
Nav
/********************************/

.page-header {
	margin-bottom: 20px
}

.navbar-item {
  font-family: 'Open Sans', sans-serif;
  font-style:bold;
  font-weight: 100;
  font-size:125%;
  letter-spacing: 1px;
  color: #fff !important;
}

ul.nav a:hover { 
  color: #fff !important; 
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-style:bold;
  font-weight: 100;
  font-size:200%;
  letter-spacing: 1px;
  color: #fff !important; 
}

.navbar-brand:hover {
  background-color: #fff !important; 
}

div.navbar a.navbar-brand:hover { 
  background-color: #000 !important; 
}

.navbar-right {
  margin-top: 4px !important
}


/***************************
Footer
/********************************/
footer {
  margin-top: 45px;
  padding-top: 5px;
  color: #999;
  height: 40px;
  background-color: #000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#wrapper {
    margin: 0 auto;
    width: 90vw;
    text-align: center 
 }

html {
    position: relative;
    min-height: 100%;
}
