<% provide(:title, 'About') %>
<div class='row page-header'>
	<h1>About</h1>
</div>

<div class='row'>
	<h2>What is KnowMyDrive?</h2>
	<p>KnowMyDrive is a app that allows you to analyze your driving through data that is gathered from the sensors in your mobile device. KnowMyDrive will record data about your drive such as route, distance, time & date of the trip, acceleration & braking, and other valuable data. KnowMyDrive will score your driving using this data and allow you to see and interact with the data on the KnowMyDrive website. Download it <a href="#">here.</a></p>

	<p>Read about our research <a href="#">here.</a></p>
	<hr>
</div>

<div class='row'>
	<h2>How can you use KnowMyDrive?</h2>
	<p>Do you manage a fleet? Do you insure drivers? Want to monitor your family's driving? Your own driving? KnowMyDrive can help you to understand and analyze driving data so you can more effectively manage your fleet, provide a better product to your customer base, or just improve your own driving.</p>

	<p></p>
	<hr>
</div>

<hr />