<% provide(:title, 'About') %>
<div class='row page-header'>
	<h1>About</h1>
</div>

<div class='row'>
	<h2>What is Drivesense?</h2>
	<p>Drivsense is an app. Go download it <a href="#">here.</a></p>

	<p>Read about our research <a href="#">here.</a></p>
	<hr>
</div>

<div class='row'>
	<h2>How can you use Drivesense?</h2>
	<p>Download and save money, save yourself, save your car.</p>

	<p>We will never use data collected innappropriately. Please read our privacy policy.</p>
	<hr>
</div>

<div class='row'>
	<h2>Administrative</h2>
	<p>Want to check up on your vehicle fleets? Supervise your kids' driving? Set up drivesense for adminsitrative access <a href="#">here.</a></p>

	<p>Testing the trip mapper? Sign in with account (test@test.com, 12345678)</p>
	<hr>
</div>
