<% provide(:title, 'News') %>
<div class='row page-header'>
<h1>News</h1>
</div>
<div class='row'>
	<h2>Website Released</h2>
	<p>Hello, Internet!</p>

	<p>We are proud to release this first version of Drivesense to the world! Please check this page for future updates.</p>
	<hr>
</div>