    <!-- Fixed navbar -->
    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><h1 id='title'>Drivesense</h1></a>
        </div>
      </div>

      <ul class="nav navbar-nav navbar-right">
          <li><a href="/trips"><h4>My Trips</h4></a> </li>
          <li><a href="/about"><h4>About</h4></a> </li>
          <li><a href="#"><h4>FAQ</h4></a> </li>
          <li><a href="/news"><h4>News</h4></a> </li>
      </ul>
    </div>