    <!-- Fixed navbar -->
<!--     <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><h1 id='title'>Drivesense</h1></a>
        </div>
      </div>

      <ul class="nav navbar-nav navbar-right">
          <li><a href="/trips"><h4>My Trips</h4></a> </li>
          <li><a href="/about"><h4>About</h4></a> </li>
          <li><a href="#"><h4>FAQ</h4></a> </li>
          <li><a href="/news"><h4>News</h4></a> </li>
      </ul>
    </div> -->

        <!-- Fixed navbar -->
    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Drivesense</a>
        </div>

        <div class="navbar-collapse collapse">
<!--           <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>

          </ul> -->

          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <% ownedGroup = get_owned_group %>
            <% if not ownedGroup.nil? %>
              
              <li><a class="navbar-item" <%= link_to ownedGroup.name, {:controller => "groups", :action => "show", :id =>ownedGroup.id } %></a></li>
            
            <% elsif current_user.group.nil? %>
              <li><a class="navbar-item" <%= link_to "Create Group", {:controller => "groups", :action => "new" } %></a></li>
            <% end %>
            <li><a class="navbar-item" <%= link_to "My Trips", {:controller => "trip_viewer", :action => "all_trips" }%></a></li>  
          <% end %>      
            <li><a class="navbar-item" href="/about">About</a></li>
            <li><a class="navbar-item" href="/news">News</a></li>
          <% if user_signed_in? %>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle navbar-item" data-toggle="dropdown">
              <% 
              name = ''
              if current_user != nil
                name = current_user.email
                end%><%=name%> 
                <b class="caret"></b></a>
              <ul class="dropdown-menu">

                <li><a rel="nofollow" href="/account"><i class="fa fa-gear"></i>  Account Settings</a></li>
                <div class="divider"></div>
                <li><a rel="nofollow" href="/users/sign_out" data-method="delete"><i class="fa fa-power-off"></i>  Log Out</a></li>
          <% else %>
            <li><a class="navbar-item" href="/users/sign_in">Sign In</a></li>
          <% end %>

              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>